@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@400;700&display=swap');

:root {
    --yellow: #fcb72b;
    --dark-navy: #495567;
    --grey-dark: #939CAA;
    --grey-light: #E5ECF4;
    --grey-extra-light: #F2F5F9;
    --yellow-light: #FFF4DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lexend Deca', sans-serif ;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--grey-dark);
    background: red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--grey-dark);
}

.container {
    max-width: 96rem;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2, h3, h4 {
    font-family: 'Space Mono', serif;
}

h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
    letter-spacing: -2.5;
}

h2 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -2.14;
}
h3 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -1.79;
}
h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -1.07;
}

.btn {
    display: inline-block;
    padding: .6rem 3rem;
    background: var(--yellow);
    color: #fff;
    border: 2px solid var(--yellow);
}

.btn:hover {
    color: var(--yellow);
    background: transparent;
}

/***********************************/

#toggle {
    display: none;
}

.nav {
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav .container {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}





.nav__menu--links ul {
    
    background: var(--grey-extra-light);
}

.nav__cta {
    display: none;
}

@media (min-width: 70rem) {

    .nav .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    .nav__menu--logo {
        margin-right: 5rem;
    }

    .nav__menu--links ul {
        all: unset;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .nav__cta {
        display: block;
    }

}